docs/references/moha-ai-monitor.json
{
  "name": "Moha-Bot AI Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "minutesInterval": 10}]
        }
      },
      "id": "1",
      "name": "Every 10 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/health",
        "options": {}
      },
      "id": "2",
      "name": "Check API Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/bots",
        "options": {}
      },
      "id": "3",
      "name": "List Bots",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "authentication": "password",
        "command": "cd /c/Users/ecoli/OneDrive/Documents/GitHub/moha-bot && docker-compose ps --format json",
        "cwd": "/"
      },
      "id": "4",
      "name": "Check Containers",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [460, 400],
      "credentials": {
        "ssh": {
          "id": "{{SSH_CREDENTIAL_ID}}",
          "name": "localhost-ssh"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const healthData = $input.all()[0].json;\nconst botsData = $input.all()[1].json;\nconst dockerOutput = $input.all()[2].json.stdout;\n\nreturn [{json: {health: healthData, bots: botsData, docker: dockerOutput, timestamp: new Date().toISOString()}}];"
      },
      "id": "5",
      "name": "Aggregate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{\"You are monitoring a trading bot system. Analyze this data and identify issues:\\n\\nAPI Health: \" + JSON.stringify($json.health) + \"\\n\\nBots: \" + JSON.stringify($json.bots) + \"\\n\\nDocker Containers: \" + $json.docker + \"\\n\\nProvide a JSON response with: {\\\"status\\\": \\\"healthy|degraded|critical\\\", \\\"issues\\\": [], \\\"actions\\\": []}\"}}",
        "options": {}
      },
      "id": "6",
      "name": "AI Analysis",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [900, 300]
    },
    {
      "parameters": {
        "model": {
          "mode": "list",
          "value": "claude-3-5-haiku-20241022"
        },
        "options": {}
      },
      "id": "7",
      "name": "Claude Haiku",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [900, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{"value1": "={{ $json.output }}", "operation": "contains", "value2": "critical"}]
        }
      },
      "id": "8",
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/bots",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "name", "value": "=Test-{{$now.toFormat('HHmmss')}}"},
            {"name": "pair", "value": "BTC-USDT"}
          ]
        },
        "options": {}
      },
      "id": "9",
      "name": "Create Test Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "url": "=http://localhost:5000/api/bots/{{$json.id}}/mode",
        "method": "PATCH",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{"name": "mode", "value": "observation"}]
        },
        "options": {}
      },
      "id": "10",
      "name": "Switch Mode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "url": "=http://localhost:5000/api/bots/{{$('Create Test Bot').item.json.id}}",
        "method": "DELETE",
        "options": {}
      },
      "id": "11",
      "name": "Delete Test Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "authentication": "password",
        "command": "=cd /c/Users/ecoli/OneDrive/Documents/GitHub/moha-bot && mkdir -p logs && echo '{{JSON.stringify($input.all())}}' >> logs/monitor-{{$now.toFormat('yyyy-MM-dd')}}.log",
        "cwd": "/"
      },
      "id": "12",
      "name": "Log Results",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [2000, 300],
      "credentials": {
        "ssh": {
          "id": "{{SSH_CREDENTIAL_ID}}",
          "name": "localhost-ssh"
        }
      }
    }
  ],
  "connections": {
    "Every 10 Minutes": {
      "main": [[
        {"node": "Check API Health", "type": "main", "index": 0},
        {"node": "List Bots", "type": "main", "index": 0},
        {"node": "Check Containers", "type": "main", "index": 0}
      ]]
    },
    "Check API Health": {
      "main": [[{"node": "Aggregate Data", "type": "main", "index": 0}]]
    },
    "List Bots": {
      "main": [[{"node": "Aggregate Data", "type": "main", "index": 0}]]
    },
    "Check Containers": {
      "main": [[{"node": "Aggregate Data", "type": "main", "index": 0}]]
    },
    "Aggregate Data": {
      "main": [[{"node": "AI Analysis", "type": "main", "index": 0}]]
    },
    "AI Analysis": {
      "main": [[{"node": "Is Critical?", "type": "main", "index": 0}]],
      "ai_languageModel": [[{"node": "Claude Haiku", "type": "ai_languageModel", "index": 0}]]
    },
    "Is Critical?": {
      "main": [
        [{"node": "Log Results", "type": "main", "index": 0}],
        [{"node": "Create Test Bot", "type": "main", "index": 0}]
      ]
    },
    "Create Test Bot": {
      "main": [[{"node": "Switch Mode", "type": "main", "index": 0}]]
    },
    "Switch Mode": {
      "main": [[{"node": "Delete Test Bot", "type": "main", "index": 0}]]
    },
    "Delete Test Bot": {
      "main": [[{"node": "Log Results", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-28T18:00:00.000Z",
  "versionId": "1"
}
